{{#partial "start"}}
    <div class="jumbotron" id="finite">
        <h3 class="text-white">YOUR SQUAD HAS BEEN SUCCESSFULLY CREATED</h3>
        <a class="btn btn-info" href="/newform">View Squad</a>
    </div>
{{/partial}}

{{> layout.hbs}}