{{#partial "start"}}
    <h1>Hero Squads</h1>
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1>WELCOME TO HERO SQUAD</h1>
                <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animated wobble"><strong>Hero Squad <i class="fas fa-mask animated rotateIn infinite"></i></strong></h1>
                <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
            </div>
            <div class="container">
                <h2 class="text-dark">CREATE YOUR SQUAD</h2>
            </div>
        </div>
    </div>


{{/partial}}

{{> layout.hbs}}