{{#partial "start"}}
    <h1>Hero Squads</h1>
    <ul>
        <li><img src='images/b33e798e904ead20591ff5d27f10f7aa (copy).jpg' alt='A photo of a mountain.'/></li>
        <li><img src='images/a474050b9d22da2fe20684ce00367c54.png' alt='A photo of a a rocky beach.'/></li>
        <li> <img src="/images/erik-mclean-8h__hh3Yw8c-unsplash.jpg" alt="Should be here"></li>
    </ul>
{{/partial}}

{{> layout.hbs}}