{{#partial "start"}}
    <div class="jumbotron">
        <h3>YOUR SQUAD HAS BEEN SUCCESSFULLY CREATED</h3>
        <a class="btn btn-icon" href="/newform">View Squad</a>
    </div>
{{/partial}}

{{> layout.hbs}}